# Bytecode e arquivos compilados
__pycache__/
*.py[cod]

# Virtualenv
.venv/
env/
ENV/
venv/
env.bak/
venv.bak/

# Configuração de ambiente
.env

# Cache e arquivos temporários
*.log
*.sqlite3
*.db
*.DS_Store
*.swp
*.bak
*.tmp
*.out

# IDEs
.idea/
.vscode/

# Testes
.pytest_cache/
.tox/
coverage.xml
htmlcov/
.coverage
*.cover
*.py.cover

# FAISS
utils/vector_store/

# LangChain cache
lc_cache/

# Build & Distribuição
build/
dist/
*.egg-info/
.eggs/
MANIFEST

# Outros
*.pkl
*.pickle
*.sav
*.lock
